name: Build and test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/ocr-aaey/ci-build-test:latest
      credentials:
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build project
        run: |
          make VERBOSE=1 XCFLAGS=-Werror test
