name: Build and test

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install build-essential
        shell: bash
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential libcriterion-dev

      - name: Build project
        run: |
          make test
          ./run_tests
