name: On push

on:
  push:

permissions:
  contents: read
  packages: write

jobs:

  build-docker-images:
    name: Run build-docker-images
    uses: ./.github/workflows/build-docker-images.yaml
    secrets: inherit

  build-and-test:
    needs: build-docker-images
    name: Run build-and-test
    uses: ./.github/workflows/build-and-test.yaml

  check-format:
    needs: build-docker-images
    name: Run check-format
    uses: ./.github/workflows/check-format.yaml
